label.switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    display: block;
    border-radius: 100px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 2px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }
}

label.on {
    background-color: #adadad;

    &:after {
        left: 5px
    }
}

label.off {
    background-color: #765e4e;

    &:after {
        left: calc(55% - 5px)
    }
}